$color-primary : rgb(0, 0, 0);
$color-secondary: rgb(238, 79, 79);
$color-text: rgb(207, 207, 207);

body {
  background: $color-primary;
  color: $color-text;
}

.nav-bar {
  color: $color-text;
}

.navbar-brand {
  color: $color-text !important;
}

.nav-link {
  color: $color-text !important;
}

.homepage {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url('./assets/images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.home-container {
  margin-top: 30vh;
  max-width: 86%;
}

.home-text {
  text-align: center;
}

.search-btn {
  margin-top: 10px;
  background: transparent;
  border: 1px solid $color-secondary;
  color: $color-secondary;
}

.movie-description {
  height: 120px;
}

.card-text {
  width: 96%;
}

// Makes scrollbar thinner on Chrome

.movie-description::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.movie-description::-webkit-scrollbar
{
    width: 2px;
    background-color: #F5F5F5;
}

.movie-description::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(121, 121, 121, 0.3);
    background-color: #555;
}

.card-img-top {
  height: 532px;
}

.card-title {
  height: 48px;
}

.card-body {
  color: rgb(63, 63, 63);
}

@media only screen and (max-width: 734px) {
  .home-container {
    margin-top: 20vh;
  }
}

@media only screen and (max-width: 405px) {
  .home-text {
    font-size: 28px;
  }
}